<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title> {% block title %} {% endblock %} </title>
    <style>{% block style %} {% endblock %}</style>
    <style>
  body{
      min-height:654px;
      max-height:100000px;
  background-image: linear-gradient(#00ace6,  #e6f9ff);
   background-repeat: no-repeat;

}
nav{
box-shadow: 0 4px 8px 0 rgba(0, 0,
0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
  </style>
  <body>
  <header>
<nav class="navbar navbar-expand-lg navbar-light bg-transparent">
  <a class="navbar-brand" href="">
    <img src="" width="30" height="30" class="d-inline-block align-top" alt="...">
    Express News
  </a>
<div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar7">
        <ul class="navbar-nav ml-auto flex-nowrap">
  <li class="nav-item active">
        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">About Us <span class="sr-only">(current)</span></a>
      </li>
    <li class="nav-item active">
        <a class="nav-link" href="#">Contact Us<span class="sr-only">(current)</span></a>
      </li>
  </ul>
</div>


</nav>

  </header>


<body>{% block body %}{% endblock %}</body>
    </body>

</html>